<nav class="navbar navbar-expand navbar-dark bg-primary">
  <div class="collapse navbar-collapse" style="height: 40px;">

    <ul class="navbar-nav mr-auto">
      <li *ngIf="loggedIn === false" class="nav-item active">
            <a class="nav-link"  [routerLink]="['/']" href="">{{ loginButton | translate }}</a>
        </li>
        <li *ngIf="loggedIn" class="nav-item active">
            <a class="nav-link" [routerLink]="['/recipes']" href="">Recipes</a>
        </li>
    </ul>

    <button *ngIf="loggedIn" (click)="logout()" type="button" class="btn btn-outline-light">Log out</button>
    <select #langSelect *ngIf="loggedIn === false" (change)="changeLang(langSelect.value)">
      <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
    </select>
  </div>
  </nav>
