<div class="container">
  <div class="row">
    <div class="col">
      <h4 class="font-italic">Recipe information</h4><br>
        <form #form="ngForm" [formGroup]="recipeForm" (ngSubmit)="update()">
          <div class="row">
              <div class="col col-lg-2">
                  <p>Name:</p>
              </div>
              <div class="form-group col col-lg-5">
                <input formControlName="name" [class.is-invalid]="recipeForm.controls.name.invalid && (recipeForm.controls.name.dirty || form.submitted)" type="text" class="form-control">
                <div class="invalid-feedback">
                    Please provide a name.
                </div>
            </div>
          </div>

          <div class="row">
            <div class="col col-lg-2">
              <p>Description:</p>
            </div>
            <div class="form-group col col-lg-5">
              <input formControlName="description" [class.is-invalid]="recipeForm.controls.description.invalid && (recipeForm.controls.description.dirty || form.submitted)" type="text" class="form-control">
              <div class="invalid-feedback">
                  Please provide a description.
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col col-lg-2">
              <p>Category:</p>
            </div>
            <div class="form-group col col-lg-5">
              <select formControlName="category" [class.is-invalid]="recipeForm.controls.category.invalid && (recipeForm.controls.category.dirty || form.submitted)" name="category" class="form-control">
                <option value="1">Starter</option>
                <option value="2">Main Course</option>
                <option value="3">Dessert</option>
              </select>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col col-md-auto text-right">
              <button type="submit" [disabled]="!(recipeForm.controls.category.dirty || recipeForm.controls.description.dirty || recipeForm.controls.name.dirty)" class="btn btn-success">Save</button>
            </div>
          </div>
      </form>
    </div>
  </div>
</div>
